.rustlings-state.txt
solutions
Cargo.lock
target
Cargo.toml
.vscode

exercises/10_modules/
exercises/11_hashmaps/
exercises/12_options/
exercises/13_error_handling/
exercises/14_generics/
exercises/15_traits/
exercises/16_lifetimes/
exercises/17_tests/
exercises/18_iterators/
exercises/19_smart_pointers/
exercises/20_threads/  
exercises/21_macros/
exercises/22_clippy/
exercises/23_conversions/